body{
    font-family: 'Open Sans' , sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    margin:0 20px;
    padding: 0;        

}
a{
    text-decoration: none;
    color: #8C9A9B;
}
.logo,.menu{
    display: inline-block;
}
.menu{
    float: right;    
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}
header li{        
    padding-right:20px;  
    display: inline-block; 
}
header img{
        padding:25px 0;
    }
/*
header img{
    display: inline-block;    
}

*/
.hero{
    width: 100%;
    background: #817F81;
    color: #fff; 
}
.hero h2{
    font-size: 50px;
}
.col-1,.col-2{
    float: left;
    box-sizing: border-box;
    padding: 0px;
}
.col-1{
    width: 60%;
}
.col-2{
    width: 40%;
    margin: 30px 0 60px 0;
}
form{
    background: #9B999B;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}
form input{
    box-sizing: border-box;
    width: 100%;
}
form p{
    padding: 0 5px;
}
button{
    box-sizing: border-box;
    width: 100%;
    background: #3FAFF9;
    border: solid 1px #3FAFF9;
    cursor: pointer;
}
footer p{
    margin-bottom: 0;
    padding-bottom: 0;
}
.clearfix{
    display: table;
}
.clearfix:after{
    content: "";
    clear: both;
}

@media (min-width:700px)and(max-width:900px){
    .container{
        width: 700px;
    }
    header li{
        padding: 25px;
    }
    .hero h2{
        margin-top: 0;
    }
}
@media (max-width:700px){
    .container{

    }
    .col-1,.col-2{
        width: 100%;
    }
    header li{
        padding: 25px;
    }
    header img{
        width: 100px;    
    }
    form{
        margin: 0 auto;
    }

}
@media (min-width:900px){
    header li{
        padding: 25px;
    }
    header img{
        padding:0 0;
    }
    .hero h2{
        margin-top: 0;
    }
    .col-1,.col-2{
        margin: 5% 2.5%;
    }
    .col-1{
        width: 55%;    
    }
    .col-2{
        width: 35%;
    }
}